html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(220, 209, 196);
}

img {
    display: inline-block;
    margin: 1rem;
    width: 400px;
}
header {
    background-color:rgb(48, 71, 91);
    color: white;
    padding: 1rem;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

section article {
    display: flex;
    justify-content: space-between;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    background-color:rgb(57, 73, 87);
    color: white;
    margin: 1rem 1rem;
    border-radius: 1rem;
}

section article p, h2 {
    text-align: left;
    background-color:rgb(57, 73, 87);
    color: white;
    margin: 1rem;
}

footer {
    background-color: rgb(33, 48, 62);
    padding: 1rem;
    margin-bottom: 0rem;
    width: auto;
    height: 1rem;
}

footer section a{
    float: right;
}

footer p, footer a {
    transition: 0.5s;
    margin: 0 1rem;
    text-align: left;
    color:white;
    text-decoration: none;
}

footer a:hover {
    color:rgb(142, 170, 201)

}

.block {
    text-decoration: none;
    color: white;
}
